@tailwind base;
@tailwind components;
@tailwind utilities;

.section{
    @apply
        max-w-7xl
        mx-auto
        sm:px-6 lg:px-8
        mb-8
}

.block-container{
    @apply
        bg-white
        overflow-hidden
        shadow-lg sm:rounded-lg
        px-5
}

.info{
    @apply
        grid grid-cols-4
        divide-x divide-gray-200
        border-b border-gray-200
}
.info > div{
    @apply p-4
    odd:bg-gray-100
    text-gray-700
}

.btn{
    @apply

        inline-block
        uppercase
        text-4xl
        font-bold
        tracking-[-0.11em] hover:tracking-normal
        text-gray-600 hover:text-gray-500
        transition-all
}
.btn-main{
    @apply
        hover:bg-blue-500
        text-blue-500 hover:text-white
        transition-all
}

.btn-danger{
    @apply
        hover:bg-red-500
        text-red-500 hover:text-white
}
.btn-success{
    @apply
        hover:bg-green-500
        border-green-500
        text-green-500 hover:text-white
}

.btn-compact-main{
    @apply
        text-center
        hover:bg-blue-500
        border border-blue-500
        text-blue-500 hover:text-white
        rounded
        transition-all
}
.btn-compact-success{
    @apply
        text-center
         hover:bg-green-500
        border border-green-500
        text-green-500 hover:text-white
        rounded
        transition-all
}
.btn-compact-danger{
    @apply
        text-center
        hover:bg-red-500
        border border-red-500
        text-red-500 hover:text-white
        rounded
        transition-all
}

.btn-sns{
    @apply
        rounded-full
        p-2
        bg-white
        text-slate-700 hover:text-blue-500
        hover:rotate-12
        active:rotate-[360deg]
        transition-all
}
.btn-sns.selected{
    @apply
        bg-blue-500
        text-white
        transition-all
}
.btn-sns-red{
    @apply
        rounded-full
        p-2
        bg-white hover:text-white
        text-slate-700 hover:bg-red-500
        hover:rotate-12
        active:rotate-[360deg]
        transition-all
}

.link{
    @apply
        text-blue-500
        hover:text-blue-400
        hover:underline
        hover:cursor-pointer
}

/* input-detail */
.input-detail{
    @apply
        border border-sky-400
        bg-sky-100
        text-sky-500
        px-4 py-2
}
.input-detail-warning{
    @apply
        border border-amber-500
        bg-amber-100
        text-amber-600
}

/* tables */
table{
    @apply
        w-full
}
table th, table td{
    @apply
        p-3
        border-b border-gray-200
}
th{
    @apply
        bg-gray-100
        border-t
        text-left
}

/* formated content */
.formated-content{
    @apply
        w-full
}

.formated-content h1{
    @apply
        text-6xl
        font-bold
        mb-2 mt-4
}
.formated-content h2{
    @apply
        text-4xl
        font-bold
        mb-2 mt-4
}
.formated-content h3{
    @apply
        text-3xl
        mb-2 mt-2
}

.formated-content ul{
    @apply
        pl-4
        list-disc
}


/* Top related design */
:root {
    scroll-behavior: smooth  !important;
}

.top header{
    @apply
        h-[4rem] sm:h-[7rem] md:h-[9rem]
        text-[4rem] sm:text-[5rem] md:text-[10rem]
        leading-[2.7rem] sm:leading-[6rem] md:leading-[9rem]
        -tracking-[0.12em]
        font-bold
        overflow-hidden
        uppercase
        pl-4 md:pl-0 md:-mt-[1rem]
}


.top-section{
    @apply
        snap-start
        shrink-0
        w-full
        h-screen
        overflow-y-hidden
        overflow-x-auto
        snap-mandatory
}

.low-contrast header{
    @apply
        text-white
        /* bg-gray-400 */
}
.low-contrast.inverse header{
    @apply
        text-gray-400
        bg-white
}
.high-contrast header{
    @apply
        text-white
        bg-slate-900
}
.high-contrast.inverse header{
    @apply
        text-slate-900
        bg-white
}


.menu {
    @apply
    text-slate-600
    uppercase
    leading-[2.2rem]
    transition-all
}
.menu.reversed{
    @apply
        text-white
        transition-all
}

.menu a{
    @apply
        px-4
        cursor-pointer
        hover:bg-yellow-100
        transition-all
}
.menu a.active{
    @apply
        font-bold
}
.menu a.active::before{
    content: "# ";
    @apply
        font-bold
}
.menu.reversed a{
    @apply
        hover:bg-yellow-500/30
        transition-all
}
.menu.reversed a:hover{
    @apply
        divide-slate-600
        /* leading-[3rem] */
}

.event-year{
    @apply
        w-60
        font-bold text-[3rem]
        leading-[3rem]
        text-center
}

.media-tile{
    @apply
        flex-1
        rounded
        max-h-full
        w-auto
}

.title-1{
    @apply
    text-4xl border-l-4 border-blue-500 pl-4 mb-4
}

.form-input{
    @apply
        border border-slate-400
        rounded
        text-slate-500
        px-4 py-2
        w-full
}

h1, .h1{
    @apply
        text-8xl
        leading-[4.4rem]
        font-bold
        uppercase
        overflow-hidden
        relative

}
/*
h1::before{
    @apply
        h-[.5rem]
        w-full
        bg-gray-100
        content-['']
        block
        absolute
        top-0
} */
