@tailwind base;
@tailwind components;
@tailwind utilities;

.section{
    @apply
        max-w-7xl
        mx-auto
        sm:px-6 lg:px-8
        mb-8
}

.block-container{
    @apply
        bg-white
        overflow-hidden
        shadow-sm sm:rounded-lg
        px-5
}

.info{
    @apply
        grid grid-cols-4
        divide-x divide-gray-200
        border-b border-gray-200
}
.info > div{
    @apply p-4
    odd:bg-gray-300
    text-gray-700
}

.btn{
    @apply
        inline-block
        border border-gray-700 hover:bg-gray-700
        p-4 py-2
        text-gray-700 hover:text-white
        rounded
        uppercase
        min-w-32
        text-center
}
.btn-main{
    @apply
        bg-white hover:bg-blue-500
        border-blue-500
        text-blue-500 hover:text-white
}

.btn-danger{
    @apply
        bg-white hover:bg-red-500
        border-red-500
        text-red-500 hover:text-white
}

.link{
    @apply
        text-blue-500
        hover:text-blue-400
        hover:underline
        hover:cursor-pointer
}

/* input-detail */
.input-detail{
    @apply
        border border-sky-400
        bg-sky-100
        text-sky-500
        px-4 py-2
}
.input-detail-warning{
    @apply
        border border-amber-500
        bg-amber-100
        text-amber-600
}

/* tables */
table{
    @apply
        w-full
}
table th, table td{
    @apply
        p-3
}
th{
    @apply
        bg-gray-200
}

/* formated content */
.formated-content{
    @apply
        w-full
}

.formated-content h1{
    @apply
        text-3xl
        font-bold
        mb-2
        border-b border-gray-200
}
.formated-content h2{
    @apply
        text-2xl
        font-bold
        mb-2
        border-b border-gray-200
}
